[submodule "SubModules/phnt"]
	path = SubModules/phnt
	url = https://github.com/winsiderss/phnt.git
[submodule "SubModules/HDE64"]
	path = SubModules/HDE64
	url = https://github.com/Cerbersec/HDE64.git
